<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.1/css/all.css">
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css'>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v0.16.0/mapbox-gl-draw.css'>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        .hidden{
            visibility: hidden;
        }
    </style>
</head>

<body translate="no">
    <ul style="z-index: 999;">
        <li>
            <a href="#" class="show-modal" data-modal="modal1">
                <i class="ai-location"></i>
                <span>Enter location
                </span>
            </a>
        </li>
        <li>
            <a href="#" class="show-modal" data-modal="modal4">
                <i class="fas fa-gas-pump"></i>
                <span>Flight Fuel</span>
            </a>
        </li>
        <li>
            <a href="#" class="show-modal" data-modal="modal2">
                <i class="fas fa-cloud"></i>
                <span>Weather Details</span>
            </a>
        </li>
        <li>
            <a href="#" id="changeStyleButton">
                <i class="fas fa-pen"></i>
                <span>Draw on map</span>
            </a>
        </li>
        <li>
            <a href="#" class="show-modal" data-modal="modal3">
                <i class="fas fa-cloud"></i>
                <span>Weather Details</span>
            </a>
        </li>
        <li id="buttonContainer">
            <a href="#" id="resetViewButton">
                <i class="fal fa-undo"></i>
                <span>Reset View</span>
            </a>
            <a href="#" id="focusCenterButton">
                <i class="fal fa-crosshairs"></i>
                <span>Focus</span>
            </a>
            <a href="#">
                <i class="ai-gear"></i>
                <span>Settings</span>
            </a>
        </li>
    </ul>
    <div id="modal1" class="modal active" style="display: block;">
        <div class="modal-wrapper">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="uploadForm">
                        <select id="start_city" onchange="updatestartCoordinates()">
                            <option value="">Select a city</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Mumbai">Mumbai</option>
                            <option value="Bangalore">Bangalore</option>
                            <option value="Hyderabad">Hyderabad</option>
                            <option value="Ahmedabad">Ahmedabad</option>
                            <option value="Chennai">Chennai</option>
                            <option value="Kolkata">Kolkata</option>
                            <option value="Surat">Surat</option>
                            <option value="Pune">Pune</option>
                            <option value="Jaipur">Jaipur</option>
                            <option value="Lucknow">Lucknow</option>
                            <option value="Kanpur">Kanpur</option>
                            <option value="Nagpur">Nagpur</option>
                            <option value="Indore">Indore</option>
                            <option value="Thane">Thane</option>
                            <option value="Bhopal">Bhopal</option>
                            <option value="Visakhapatnam">Visakhapatnam</option>
                            <option value="Pimpri-Chinchwad">Pimpri-Chinchwad</option>
                            <option value="Patna">Patna</option>
                            <option value="Vadodara">Vadodara</option>
                        </select>
                        <input type="text" id="start_latitude" value="" hidden>
                        <input type="text" id="start_longitude" value="" hidden>
                        <select id="end_city" onchange="updateCoordinates()">
                            <option value="">Select a city</option>

                            <option value="Delhi">Delhi</option>
                            <option value="Mumbai">Mumbai</option>
                            <option value="Bangalore">Bangalore</option>
                            <option value="Hyderabad">Hyderabad</option>
                            <option value="Ahmedabad">Ahmedabad</option>
                            <option value="Chennai">Chennai</option>
                            <option value="Kolkata">Kolkata</option>
                            <option value="Surat">Surat</option>
                            <option value="Pune">Pune</option>
                            <option value="Jaipur">Jaipur</option>
                            <option value="Lucknow">Lucknow</option>
                            <option value="Kanpur">Kanpur</option>
                            <option value="Nagpur">Nagpur</option>
                            <option value="Indore">Indore</option>
                            <option value="Thane">Thane</option>
                            <option value="Bhopal">Bhopal</option>
                            <option value="Visakhapatnam">Visakhapatnam</option>
                            <option value="Pimpri-Chinchwad">Pimpri-Chinchwad</option>
                            <option value="Patna">Patna</option>
                            <option value="Vadodara">Vadodara</option>
                        </select>
                        <input type="text" id="end_latitude" value="" hidden>
                        <input type="text" id="end_longitude" value="" hidden>
                        <input id="city_name" value="Mumbai" hidden>
                        <input type="text" id="obstacle_points_latitude1" value="42.797095" placeholder="Enter text here" hidden>
                        <input type="text" id="obstacle_points_longitude1" value="-80.35164463" placeholder="Enter text here" hidden>
                        <input type="text" id="obstacle_points_latitude2" value="41.797095" placeholder="Enter text here" hidden>
                        <input type="text" id="obstacle_points_longitude2" value="82.797095" placeholder="Enter text here" hidden>
                        <button type="submit">Submit</button>
                        <button type="close" class="close">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div id="modal2" class="modal active hidden" style="display: block;">
        <div class="modal-wrapper">
            <div class="modal-content">
                <div class="modal-body" id="modal2_body">
                    nearest_port: 'Jaipur International Airport'
                </div>
            </div>
        </div>
    </div>
    <!-- 'weather': {'coord': {'lon': 78.4744, 'lat': 17.3753}, 
    'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03d'}], 
    'base': 'stations', 
    'main': {'temp': 309.38, 'feels_like': 312.06, 'temp_min': 309.38, 'temp_max': 309.88, 'pressure': 1003, 'humidity': 38}, 
    'visibility': 6000, 
    'wind': {'speed': 5.14, 'deg': 270}, 
    'clouds': {'all': 40}, '
    dt': 1716623234, 
    'sys': {'type': 1, 'id': 9214, 'country': 'IN', 'sunrise': 1716595913, 'sunset': 1716642873}, 
    'timezone': 19800, 'id': 1269843, 'name': 'Hyderabad', 'cod': 200} -->
    <div id="modal3" class="modal active hidden" style="display: block;">
        <div class="modal-wrapper">
            <div class="modal-content">
                <div class="close modal-close">&times;</div>
                <div class="modal-body" id="weather_condition_modal">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>

    <div id="modal4" class="modal active" style="display: block;">
        <div class="modal-wrapper">
            <div class="modal-content">
                <div class="close modal-close">&times;</div>
                <div class="modal-body">

                    <label for="indicator-check" class="label">
                        <div class="toggle-container">
                            <div class="toggle-container-inner">
                                <div class="toggle-container-inner-ticks">
                                    <div class="toggle-container-inner-ticks-cover"></div>
                                    <div class="toggle-container-inner-ticks-container">
                                        <div class="tick big e">E</div>
                                        <div class="tick"></div>
                                        <div class="tick"></div>
                                        <div class="tick"></div>
                                        <div class="tick"></div>
                                        <div class="tick big m">
                                            <small>1</small>/<small>2</small>
                                        </div>
                                        <div class="tick"></div>
                                        <div class="tick"></div>
                                        <div class="tick"></div>
                                        <div class="tick"></div>
                                        <div class="tick big f">F</div>
                                    </div>
                                    <input type="checkbox" id="indicator-check">
                                    <div class="toggle-container-inner-ticks-indicator" style="margin-left: 0px;"></div>

                                </div>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div id="map"></div>
    <script>
        function updateCoordinates() {
            var citySelect1 = document.getElementById("end_city");
            var latitudeInput1 = document.getElementById("end_latitude");
            var longitudeInput1 = document.getElementById("end_longitude");

            if (citySelect1 && latitudeInput1 && longitudeInput1) {
                var selectedCity1 = citySelect1.value;

                var cityCoordinates = {
                    "Delhi": { "latitude": 28.7041, "longitude": 77.1025 },
                    "Mumbai": { "latitude": 19.0760, "longitude": 72.8777 },
                    "Bangalore": { "latitude": 12.9716, "longitude": 77.5946 },
                    "Hyderabad": { "latitude": 17.3850, "longitude": 78.4867 },
                    "Ahmedabad": { "latitude": 23.0225, "longitude": 72.5714 },
                    "Chennai": { "latitude": 13.0827, "longitude": 80.2707 },
                    "Kolkata": { "latitude": 22.5726, "longitude": 88.3639 },
                    "Surat": { "latitude": 21.1702, "longitude": 72.8311 },
                    "Pune": { "latitude": 18.5204, "longitude": 73.8567 },
                    "Jaipur": { "latitude": 26.9124, "longitude": 75.7873 },
                    "Lucknow": { "latitude": 26.8467, "longitude": 80.9462 },
                    "Kanpur": { "latitude": 26.4499, "longitude": 80.3319 },
                    "Nagpur": { "latitude": 21.1458, "longitude": 79.0882 },
                    "Indore": { "latitude": 22.7196, "longitude": 75.8577 },
                    "Thane": { "latitude": 19.2183, "longitude": 72.9781 },
                    "Bhopal": { "latitude": 23.2599, "longitude": 77.4126 },
                    "Visakhapatnam": { "latitude": 17.6868, "longitude": 83.2185 },
                    "Pimpri-Chinchwad": { "latitude": 18.6279, "longitude": 73.8131 },
                    "Patna": { "latitude": 25.5941, "longitude": 85.1376 },
                    "Vadodara": { "latitude": 22.3072, "longitude": 73.1812 }
                };

                if (selectedCity1 in cityCoordinates) {
                    latitudeInput1.value = cityCoordinates[selectedCity1].latitude;
                    longitudeInput1.value = cityCoordinates[selectedCity1].longitude;
                } else {
                    latitudeInput1.value = "";
                    longitudeInput1.value = "";
                }
            } else {
                console.error("One or more elements could not be found.");
            }
        }
        
        function updatestartCoordinates() {
            var citySelect2 = document.getElementById("start_city");
            var latitudeInput2 = document.getElementById("start_latitude");
            var longitudeInput2 = document.getElementById("start_longitude");

            if (citySelect2 && latitudeInput2 && longitudeInput2) {
                var selectedCity2 = citySelect2.value;

                var cityCoordinates = {
                    "Delhi": { "latitude": 28.7041, "longitude": 77.1025 },
                    "Mumbai": { "latitude": 19.0760, "longitude": 72.8777 },
                    "Bangalore": { "latitude": 12.9716, "longitude": 77.5946 },
                    "Hyderabad": { "latitude": 17.3850, "longitude": 78.4867 },
                    "Ahmedabad": { "latitude": 23.0225, "longitude": 72.5714 },
                    "Chennai": { "latitude": 13.0827, "longitude": 80.2707 },
                    "Kolkata": { "latitude": 22.5726, "longitude": 88.3639 },
                    "Surat": { "latitude": 21.1702, "longitude": 72.8311 },
                    "Pune": { "latitude": 18.5204, "longitude": 73.8567 },
                    "Jaipur": { "latitude": 26.9124, "longitude": 75.7873 },
                    "Lucknow": { "latitude": 26.8467, "longitude": 80.9462 },
                    "Kanpur": { "latitude": 26.4499, "longitude": 80.3319 },
                    "Nagpur": { "latitude": 21.1458, "longitude": 79.0882 },
                    "Indore": { "latitude": 22.7196, "longitude": 75.8577 },
                    "Thane": { "latitude": 19.2183, "longitude": 72.9781 },
                    "Bhopal": { "latitude": 23.2599, "longitude": 77.4126 },
                    "Visakhapatnam": { "latitude": 17.6868, "longitude": 83.2185 },
                    "Pimpri-Chinchwad": { "latitude": 18.6279, "longitude": 73.8131 },
                    "Patna": { "latitude": 25.5941, "longitude": 85.1376 },
                    "Vadodara": { "latitude": 22.3072, "longitude": 73.1812 }
                };

                if (selectedCity2 in cityCoordinates) {
                    latitudeInput2.value = cityCoordinates[selectedCity2].latitude;
                    longitudeInput2.value = cityCoordinates[selectedCity2].longitude;
                } else {
                    latitudeInput2.value = "";
                    longitudeInput2.value = "";
                }
            } else {
                console.error("One or more elements could not be found.");
            }
        }
    </script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v0.16.0/mapbox-gl-draw.js'></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>
    <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
    <script>
        document.querySelectorAll('.toggle-container-inner-ticks-indicator').forEach(function (element) {
            element.style.marginLeft = '0px';
        });
    </script>
    <script>
        document.getElementById('changeStyleButton').addEventListener('click', function () {
            var textElements = document.getElementsByClassName('mapboxgl-control-container');
            if (textElements.length > 0) {
                var textElement = textElements[0]; // Access the first element with class 'text'
                textElement.classList.toggle('displaynone');
            }
        });
    </script>
    <script>
document.addEventListener('DOMContentLoaded', function () {
    mapboxgl.accessToken = 'pk.eyJ1IjoiYWx1a2FjaCIsImEiOiJ3US1JLXJnIn0.xrpBHCwvzsX76YlO-08kjg';
    const map = new mapboxgl.Map({
        container: 'map', // Container ID
        style: 'mapbox://styles/mapbox/streets-v12', // Map style to use
        center: [19.0760, 72.8777], // Starting position [lng, lat]
        zoom: 3, // Starting zoom level
        pitch: 0, // Tilt the map for 3D effect
        bearing: 0 // Rotate the map
    });
            let centercordlat;
            let centercordlon;
    document.getElementById("uploadForm").addEventListener("submit", function (event) {
        event.preventDefault();
        var formData = {

                    city_name: document.getElementById("start_city").value,
                    start_latitude: document.getElementById("start_latitude").value,
                    start_longitude: document.getElementById("start_longitude").value,
                    end_latitude: document.getElementById("end_latitude").value,
                    end_longitude: document.getElementById("end_longitude").value,
                    obstacle_points_latitude1: document.getElementById("obstacle_points_latitude1").value,
                    obstacle_points_longitude1: document.getElementById("obstacle_points_longitude1").value,
                    obstacle_points_latitude2: document.getElementById("obstacle_points_latitude2").value,
                    obstacle_points_longitude2: document.getElementById("obstacle_points_longitude2").value,
                };
                centercordlat = formData.start_longitude
                centercordlon = formData.start_latitude
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "http://localhost:5000/your_flask_route", true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            try {
                                var response = JSON.parse(xhr.responseText);
                                console.log("Response from server:", response); // Log the response to console
                                if (response && response.message && Array.isArray(response.message)) {
                                    const coordinates = response.message;
                                    const points = coordinates.map(coord => [coord[1], coord[0]]);
                                    const line = turf.lineString(points);
                                    if (map.getLayer('route')) {
                                        map.removeLayer('route');
                                    }
                                    if (map.getSource('route')) {
                                        map.removeSource('route');
                                    }
                                    map.addSource('route', {
                                        'type': 'geojson',
                                        'data': line
                                    });
                                    map.addLayer({
                                        'id': 'route',
                                        'type': 'line',
                                        'source': 'route',
                                        'layout': {
                                            'line-join': 'round',
                                            'line-cap': 'round'
                                        },
                                        'paint': {
                                            'line-color': '#ff0000',
                                            'line-width': 4
                                        }
                                    });
                                    map.flyTo({
                                        center: [formData.start_longitude, formData.start_latitude],
                                        zoom: 12, // Adjust the zoom level as needed
                                        essential: true // This animation is considered essential with respect to prefers-reduced-motion
                                    });
                                } else {
                                    console.error("Invalid response format. Expected an array of coordinates.");
                                }
                                console.log(response.weather_d)
                                // <span>coord</span>
                                // <span>coord</span>
                                // <span>weather.main</span>
                                // <span>main.temp</span>
                                // <span>main.temp_min</span>
                                // <span>main.temp_max</span>
                                // <span>main.pressure</span>
                                // <span>main.humidity</span>
                                // <span>visibility</span>
                                // <span>wind.speed</span>
                                // <span>wind.deg</span>
                                data = {
                                    'message': ((12.971600000000002, 77.5946), (12.983951799738804, 77.86209920585064), (12.996028388708906, 78.1296245425067), (13.00782947617585, 78.39717544795418), (13.019354777938377, 78.66475135771958), (13.030604016342021, 78.93235170492287), (13.041576920292442, 79.19997592033089), (13.052273225268442, 79.467623432411), (13.062692673334668, 79.73529366738501), (13.072835013154073, 80.00298604928341), (13.0827, 80.27070000000002)),
                                    'weather_d': {
                                        'coord': {'lon': 77.6033, 'lat': 12.9762},
                                        'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03d'}],
                                        'base': 'stations', 
                                        'main': {'temp': 302.7, 'feels_like': 303.84, 'temp_min': 301.96, 'temp_max': 304.39, 'pressure': 1009, 'humidity': 52},
                                        'visibility': 6000, 
                                        'wind': {'speed': 4.63, 'deg': 280}, 
                                        'clouds': {'all': 40}, 
                                        'dt': 1716624314, 
                                        'sys': {'type': 2, 'id': 2017753, 'country': 'IN', 'sunrise': 1716596565, 'sunset': 1716642639}, 
                                        'timezone': 19800, 
                                        'id': 1277333, 
                                        'name': 'Bengaluru', 
                                        'cod': 200}, 
                                    'nearest_port': 'Chennai International Airport'
                                }
                                const modal3 = document.getElementById("modal3");
                                modal3.classList.remove('hidden');
                                const nearPort = response.nearest_port;
                                const weather_d = response.weather_d
                                let coord = "Lon : "+weather_d.coord.lon + " Lat : "+weather_d.coord.lat;
                                let main_temp = "Temp : "+weather_d.main.temp                            
                                let main_temp_min = "temp_min : "+ weather_d.main.temp_min
                                let main_temp_max = "temp_max : " + weather_d.main.temp_max
                                let main_pressure = "pressure : " +weather_d.main.pressure
                                let main_humidity = "humidity : " +weather_d.main.humidity
                                let main_visibility = "visibility : "+ weather_d.visibility
                                let main_speed = "wind speed : " +weather_d.wind.speed
                                let main_deg = "wind deg:" +weather_d.wind.deg
                                let w_arr  = [ coord, main_temp, main_temp_min, main_temp_max, main_pressure, main_humidity, main_visibility, main_speed, main_deg]
                                const modal3_body = document.getElementById("weather_condition_modal"); 
                                let i = 0;
                                Array.from(modal3_body.children).forEach(function (element) {
                                    element.textContent = w_arr[i];
                                    i++;
                                });
                                const modal2 = document.getElementById("modal2");
                                const modal2_body = document.getElementById('modal2_body');
                                if (nearPort != null) {
                                    modal2.classList.remove('hidden');
                                    modal2_body.textContent = "The nearest port is " + nearPort;
                                }
                            } catch (error) {
                                console.error("Error parsing response:", error);
                            }
                        } else {
                            console.error("Failed to fetch data. Status code:", xhr.status);
                        }
                    }
                };
                xhr.send(JSON.stringify(formData));
            });

            map.on('load', () => {
                map.addSource('mapbox-dem', {
                    'type': 'raster-dem',
                    'url': 'mapbox://mapbox.mapbox-terrain-dem-v1',
                    'tileSize': 512,
                    'maxzoom': 14
                });
                map.setTerrain({ 'source': 'mapbox-dem', 'exaggeration': 1.5 });
                map.addLayer({
                    'id': '3d-buildings',
                    'source': 'composite',
                    'source-layer': 'building',
                    'filter': ['==', 'extrude', 'true'],
                    'type': 'fill-extrusion',
                    'minzoom': 15,
                    'paint': {
                        'fill-extrusion-color': '#aaa',
                        'fill-extrusion-height': [
                            'interpolate',
                            ['linear'],
                            ['zoom'],
                            15,
                            0,
                            15.05,
                            ['get', 'height']
                        ],
                        'fill-extrusion-base': [
                            'interpolate',
                            ['linear'],
                            ['zoom'],
                            15,
                            0,
                            15.05,
                            ['get', 'min_height']
                        ],
                        'fill-extrusion-opacity': 0.6
                    }
                });

                // Add draw control if needed
                var draw = new MapboxDraw({
                    displayControlsDefault: true,
                });
                map.addControl(draw);
            });

            let resetViewFlag = true;
            document.getElementById('resetViewButton').addEventListener('click', () => {
                if (resetViewFlag) {
                    map.easeTo({
                        pitch: 0,
                        bearing: 0
                    });
                } else {
                    map.easeTo({
                        pitch: 60,
                        bearing: -17.6
                    });
                }
                resetViewFlag = !resetViewFlag;
                const modalElements = document.querySelectorAll('.modal-wrapper, .mapboxgl-ctrl-top-right');
                const modalicons = document.querySelectorAll('.threedicon');
                modalElements.forEach(modalElement => {
                    if (resetViewFlag) {
                        modalElement.classList.add('threed');
                    } else {
                        modalElement.classList.remove('threed');
                    }
                });
                modalicons.forEach(modalicon => {
                    if (resetViewFlag) {
                        modalicon.classList.add('thdicon');
                    } else {
                        modalicon.classList.remove('thdicon');
                    }
                });
            });

            document.getElementById('focusCenterButton').addEventListener('click', () => {
                map.easeTo({
                    center: [centercordlat, centercordlon],
                    zoom: 12
                });
            });
        });


    </script>
    <script src='https://unpkg.com/akar-icons-fonts'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
    <script src="/static/draggablemodal.js"></script>
</body>

</html>